body {
    margin: 0px;
    /* overflow: hidden; */
}

.chart {
    background-color: white;
    width: fit-content;
    padding: 32px;
    margin: 16px;
    box-shadow: 1px 1px 2px;
    box-sizing: marg;
}

.show-selected {
    width: calc(100% - 64px);
}

.ranking {
    width: calc(100% - 64px);
}

.sphere {
    fill: #4242e4;
}

.country {
    /* fill: gray; */
    stroke: black;
    stroke-opacity: 0.1;
}

.map {
    position: relative;
    border: 2px solid;
    /* position: absolute;
    top: 50%;
    transform: translate(30%, -55%); */
    margin: 16px auto;
    /* width: fit-content; */
    /* height: fit-content; */
    width: 1300px;
    height: 866.6667px;
    padding: 0px;
}

.legend {
    position: absolute;
    bottom: 10%;
    /* top: 90%; */
    /* transform: translate(350%, 0%); */
    padding: 10px;
    height: fit-content;
    width: fit-content;
    pointer-events: none;
} 

.menu {
    margin: 16px auto;
    width: fit-content;
}

.menu select {
    font-size: 2.7em;
}

.city {
    stroke: black;
    stroke-width: 0.1;
    /* fill: red; */
}

#heatmap {
    position: relative;
}