body {
    margin: 0px;
    overflow: hidden;
}

.sphere {
    fill: #4242e4;
}

.country {
    /* fill: gray; */
    stroke: black;
    stroke-opacity: 0.1;
}

.map {
    text-align: center;
    position: fixed;
    height: 95%;
    width: 95%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    /* overflow-y: auto; */
}