body {
    margin: 0px;
    overflow: hidden;
}

.sphere {
    fill: #4242e4;
}

.country {
    /* fill: gray; */
    stroke: black;
    stroke-opacity: 0.1;
}

.map {
    border: 2px solid;
    position: absolute;
    top: 50%;
    transform: translate(30%, -55%);
    padding: 0px;
}

.legend {
    position: absolute;
    top: 90%;
    transform: translate(350%, 0%);
    padding: 10px;
} 
